.gallery2 {
    margin: 10px;
}

.gallery2 img {
    transition: 1s;
    padding: 15px;
   
}

.gallery2 img:hover {
    filter: grayscale(100%);
    transform: scale(0.9);
}

//  Fotel.html 

.galeria-section-1 {
    background-color: rgb(240, 240, 240);
    height: 89vh;
}

.galeria-section-1 img {
    height: 350px;
    margin-top: 30px;
    margin: 5px;
}

// Lakier.html
