

//  Fotel.html 

.galeria-section-1 {
    background-color: rgb(240, 240, 240);
    height: auto;
}

.galeria-section-1 img {
    height: 350px;
    margin-top: 30px;
    margin: 5px;
}

// Lakier.html

.galeria-header .lakier {
    height: 450px;
    margin-left: auto;
}